# Target
CONFIG_IDF_TARGET="esp32s3"

# Bluetooth
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n

# BLE connection parameters
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# Main task stack size (AMY init is heavy)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
